In [14]:
import pandas as pd
%matplotlib inline
import pylab as plt
import numpy as np

In [2]:
import googlemaps
key = 'AIzaSyA84f9q_9o6LCnsqaLnpSyFkj7tS0rU0to'
gmaps = googlemaps.Client(key=key)

In [15]:
def get_distance(campus_abbr, school_strings):
    if campus_abbr == 'Universitywide':
        return np.nan
    campus_str = 'University of California, {}'.format(campus_abbr)
    result = gmaps.distance_matrix(origins=campus_str, destinations=schools)
    by_hs = result['rows'][0]['elements']
    distances = [entry['distance']['value'] for entry in by_hs]
    return distances

In [17]:
data = pd.read_csv('data/processed.csv')
data.head()

,campus,year,school,school_num,city,county,state,country,region,ethnicity,app_num,adm_num,enr_num,app_gpa,adm_gpa,enr_gpa
0,Berkeley,1994,ABRAHAM LINCOLN HIGH SCHOOL,51520,Los Angeles,Los Angeles,California,USA,Los Angeles,All,14.0,NaN,NaN,3.620000,NaN,NaN
1,Berkeley,1994,ABRAHAM LINCOLN HIGH SCHOOL,51520,Los Angeles,Los Angeles,California,USA,Los Angeles,Asian,8.0,NaN,NaN,3.620000,NaN,NaN
2,Berkeley,1994,ABRAHAM LINCOLN HIGH SCHOOL,51520,Los Angeles,Los Angeles,California,USA,Los Angeles,Hispanic/ Latino,5.0,NaN,NaN,3.620000,NaN,NaN
3,Berkeley,1994,ABRAHAM LINCOLN HIGH SCHOOL,52910,San Francisco,San Francisco,California,USA,San Francisco,All,58.0,8.0,7.0,3.682931,4.12125,4.088571
4,Berkeley,1994,ABRAHAM LINCOLN HIGH SCHOOL,52910,San Francisco,San Francisco,California,USA,San Francisco,Asian,50.0,8.0,7.0,3.682931,4.12125,4.088571

In [ ]:
get_distance("Berkeley", "")